*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
   width: 90%;
   margin: 0px;
   
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-1{
    width: 8.33%;
    padding:0px 15px;
}
.col-2{
    width: 16.66%;
    padding:0px 15px;
}
.col-3{
    width: 25%;
    padding:0px 15px;
}
.col-4{
    width: 33.33%;
    padding:0px 15px;
}
.col-5{
    width: 41.66%;
    padding:0px 15px;
}
.col-6{
    width: 50%;
    padding:0px 15px;
}
.col-7{
    width: 58.33%;
    padding:0px 15px;
}
.col-8{
    width: 66.66%;
    padding:0px 15px;
}
.col-9{
    width: 75%;
    padding:0px 15px;
}
.col-10{
    width: 83.33%;
    padding:0px 15px;
}
.col-11{
    width: 91.66%;
    padding:0px 15px;
}
.col-12{
    width: 100%;
    padding:0px 15px;
}
li{
    list-style: none;
}
/* header section */
.menu{
    align-items: center;
    display: flex;
    padding-top:  25px;
    background-color: #ffffff;
}
header .menu ul{
    display:flex;
    align-items: center;

}
header .menu ul li a{
    color: black;
    font-size: 16px;
    margin-left: 20px;
    padding: 5px;
    font-weight: 600;
    letter-spacing: 1px;

}
header .menu ul li a:hover{
    color:green;
   
}
header.row{
    align-items: center;
}
/*signin section*/
.signin{
    display: flex;
    align-items:center;
    margin-left: auto;
    justify-content: flex-end;
    padding: 20px 0px;
}
.signin a:hover{
    color:green;
}
.signin i:hover{
    color:green;
}
.signin i{
    color:black;
    font-size: 25px;
    margin: 0px 10px;
}
.signin ul{
    display: flex;
}
.signin ul li{
    margin: 20px 20px;
}
.signin ul li a{
    color: black;
    font-size: 14px;
    font-weight: 600;
}
/* buttons */
.signin button {
    padding: 8px 18px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
}
.signin .signinbtn {
    background-color: white;
    border:1px solid black;
    color: black;
}
.signin .signinbtn:hover{
    color:gainsboro;
}
.signin .joinnowbtn{
    background-color: black;
    color: white;
}
.signin .joinnowbtn:hover{
    color:gray;
}
/* order-section */
.order{
    background-color: #32462f;
    padding: 40px 0px;
    
    
}
.order-contant{
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 20px;
}
.order-contant p{
    font-size: 22px;
    color: #ffffff;
    font-weight: 600;
}
.order-contant .btn{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    background-color: #32462f;
    border: 2px solid white;
    color: #ffffff;
}
.order-contant .btn:hover{
     background-color:rgb(4, 117, 4);
}

/* greads-section */
.grads{
   justify-content: center;     
    text-align: center;
    background-color:#006242;;
    margin-top: 35px;
   
}   
.grads1{
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}
.grads1 h2{
    font-size: 28px;
    color: #ffffff;
    font-weight: 600;
    margin: 30px 0px;
}
.grads1 p{
    font-size: 24px;
    color: white;
    margin: 30px 0px;
    line-height: 1.5;
}
.grads1 .btn{
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #006242;
    border: 1px solid white;
    border-radius: 30px;
    padding: 5px 10px;
    margin: 20px 0px;
}
.grads1 .btn:hover{
    background-color:#02a16c;
}

/* summer section */
.summer{
    background-color: rgb(0, 98, 66);
    margin-top: 35px;
    height: 390px;
    justify-content: center;
    text-align: center;
}
.summer h1{
    color: white;
    margin-top: 60px;
    font-size: 25px;
}
.summer p{
    font-size: 20px;
    color: white;
    margin: 35px 0px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 2rem;
    
}
.summer-contant .btn{
   padding: 10px 20px;
   border: 2px solid white;
   border-radius: 40px;
   font-size: 18px;
   font-weight: 550;
   color: #006242;
}
.summer-contant .btn:hover{
    background-color:#02a16c;
}




/* review section */
.review{
    justify-content: center;     
    text-align: center;
      background-color:#006242;
    margin-top: 35px;
   
}
.pick h2{
    color: white;
    margin-top: 90px;
    font-size: 25px;
}
.pick p{
    font-size: 24px;
    color: white;
    margin: 35px 0px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 2rem;
    
}
.pick .btn{
   font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #006242;
    border: 1px solid white;
    border-radius: 30px;
    padding: 5px 10px;
    margin: 20px 0px;
}
.pick .btn:hover{
 background-color:rgb(7, 143, 7);
}
/* cake section */
.cake{
   justify-content: center;     
    text-align: center;
    background-color:#006242;;
    margin-top: 35px;
   
}   
.about-cake{
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}
.about-cake h2{
    font-size: 28px;
    color: #ffffff;
    font-weight: 600;
    margin: 30px 0px;
}
.about-cake p{
    font-size: 20px;
    color: white;
    margin: 30px 0px;
    line-height: 1.5;
}
.about-cake .btn{
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #006242;
    border: 1px solid white;
    border-radius: 30px;
    padding: 5px 10px;
    margin: 20px 0px;
}
.about-cake .btn:hover{
    background-color:rgb(7, 143, 7) ;
}

/* footer-section */
 .footer-section{ 
    flex-wrap: wrap;
    margin-top: 35px;
    box-shadow: 2px 1px 10px lightgray;
    align-items: center;
    justify-content:center;
    display: flex;


}
.footer-section h3{
    margin-top: 24px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 25px;
    
}
.footer-section li{
    font-size: 17px;
    color:#7e7b7b;
    margin-bottom: 20px;
    line-height:1.5 ;
    margin: 12px 10px;
}
/* footer-section */
.footer-section {
   justify-content: flex-start;
    align-items: center;
    margin-top: 35px;
    flex-wrap: wrap;
    box-shadow: 2px 1px 10px #d6d3d3;

}

.footer-section h3 {
    margin-top: 20px;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 25px;
   
}

.footer-section li {
    font-size: 16px;
    color: #7e7b7b;
    margin-bottom: 20px;
    line-height: 1.5;
}

.privacy{
    margin-left: 40px;
    align-items: center;
    margin-top: 35px;
    flex-wrap: wrap;
    

}

.privacy i{
    margin:30px 0px;
    font-size: 30px;
}
.privacy li{
    color: #000;
}

.privacy p{
    color: rgb(83, 82, 82);
}

