* {
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 100%;
    margin: 0px 0px;

}

.col-1 {
    width: 8.33%;
    padding: 0px 15px;
}

.col-2 {
    width: 16.66%;
    padding: 0px 15px;
}

.col-3 {
    width: 25%;
    padding: 0px 15px;

}

.col-4 {
    width: 33.33%;
    padding: 0px 15px;
}

.col-5 {
    width: 41.66%;
    padding: 0px 15px;
}

.col-6 {
    width: 50%;
    padding: 0px 0px;

}

.col-7 {
    width: 58.33%;
    padding: 0px 15px;
}

.col-8 {
    width: 66.66%;
    padding: 0px 15px;
}

.col-9 {
    width: 75%;
    padding: 0px 15px;

}

.col-10 {
    width: 83.33%;
    padding: 0px 15px;
}

.col-11 {
    width: 91.66%;
    padding: 0px 15px;
}

.col-12 {
    width: 100%;
    padding: 0px 0px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.align-item-center {
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

header {
    padding: 20px 10px;
    background-color: whitesmoke;
    position: fixed;
    z-index: 100;
    width: 100%;

}

header .logo h1 {
    color: rgb(56, 206, 56);
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 500;


}

.right {
    display: flex;
}

.right ul {
    display: flex;
    gap: 30px;
    margin: 10px 0px;
    padding: 0px 0px;

}

.right ul li a {
    font-size: 18px;
    font-weight: 400;
    color: black;
}

 .right button {
    margin: 0px 10px;
    padding: 10px 10px;
    margin-top: -5px;
    border: none;
    background-color: rgb(65, 190, 65);
    border-radius: 20px;
    letter-spacing: 1px;
    color: white;
}

.hero-section .hero-image {
    position: relative;
}

.hero-section .hero-contant {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 10%;
    
   

}

.hero-contant h1{
    font-size: 40px;
    color: white;
    letter-spacing: 1px;
    margin-top: 10px;
}
.hero-contant h2{
    font-size: 40px;
    color: white;
    letter-spacing: 1px;
    margin: 10px 0px;
}
.hero-contant p{
    margin: 10px 0px;
    color: whitesmoke;
    margin-top: 10px;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 1px;

}
button{
    margin: 20px 0px;
    padding: 10px 20px;
    border-radius: 20px;
    border:2px solid white;
    font-size: 16px;
    font-weight:300;
    color: white;
    background-color: transparent;
}

/* about-section */
.about-section{
    display: flex;
    margin-top: 40px;
}
.about-image{
    margin: 10px 10px;
    padding: 10px 10px;
}
.about-image h2{
    margin: 20px 10px;
    font-size: 25px;
    color: rgb(86, 79, 79);
}
.about-image h5{
    margin: 0px 10px;
    font-size: 15px;
    font-weight: 400;
    
}
.about-image span{
    margin-top: 10px;
    display: block;
    margin: 0px 10px;
}
