* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 100%;
    margin: 0px auto;

}

li {
    list-style: none;

}

a {
    text-decoration: none;
}

.row {
    display: flex;
    flex-wrap: wrap;

}

.col-1 {
    width: 8.33%;
    padding: 0px 15px;
}

.col-2 {
    width: 16.66%;
    padding: 0px 15px;
}

.col-3 {
    width: 25%;
    /* padding: 0px 15px; */

}

.col-4 {
    width: 33.33%;
    padding: 0px 15px;
}

.col-5 {
    width: 41.66%;
    padding: 0px 15px;
}

.col-6 {
    width: 50%;

}

.col-7 {
    width: 58.33%;
    padding: 0px 15px;
}

.col-8 {
    width: 66.66%;
    /* padding: 0px 15px; */
}

.col-9 {
    width: 75%;
    padding: 0px 15px;

}

.col-10 {
    width: 83.33%;
    padding: 0px 15px;
}

.col-11 {
    width: 91.66%;
    padding: 0px 15px;
}

.col-12 {
    width: 100%;
    padding: 0px 15px;
}

.ailgn-items-center {
    align-items: center;
}

/* main{
    display: flex;
} */
/* header scetion */
header {
    width: 100%;
    background-color: black;
    height: 50px;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

header .logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

header .logo h1 {
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.sildebar-section {
    position: fixed;
    width: 20%;
    height: 100vh;
    top: 50px;

}

.sildebar-section .image-section {
    display: flex;
    align-items: flex-start;
    padding: 20px 20px;
}

.sildebar-section .image-section img {
    border-radius: 30px;
}

.sildebar-section .contant {
    margin-left: 30px;
}

.sildebar-section .contant span {
    font-size: 20px;
    font-size: 18px;
    font-weight: 300;

}

.sildebar-section .contant strong {
    font-weight: 700;
}

.sildebar-section .icons a {
    color: black;

}

.sildebar-section .icons i {
    padding: 10px 20px;
    font-size: 15px;
}

.sildebar-section .icons i:hover {
    background-color: grey;
}

/* dashbord section */
.dashbord h1 {
    font-size: 20px;
    font-weight: 300;
    margin: 20px 20px;

}


.dashbord .user p {
    padding: 8px 16px;
    font-size: 18px;
    background-color: #5bacef;
    color: #fff;
    text-transform: lowercase;
}

.dashbord .user i {
    margin-right: 10px;
    font-size: 14px;
}

.dashbord .user p:hover {
    background-color: lightgray;
    color: black;
}

.das-icons p {
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 300;
}

.das-icons i {
    margin-right: 10px;
    font-size: 14px;

}

.das-icons p:hover {
    background-color: lightgray;
}

/* main-contant */
.main-contant {

    width: 80%;

    background-color: #f1eeee;
    margin-left: 20%;
    /* height: 100vh; */
    margin-top: 50px;

}

/* title section */
.title-section h2 {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}

.title-section i {
    margin-right: 5px;
}

.icons-section {
    display: flex;
    margin: 0px 20px;
    gap: 15px;
}
/* icons-section */


/* message section */
.message-icons {
    display: flex;
    justify-content: space-between;
}

.card {

    height: 140px;
    background-color: #f44336;
    color: #fff;
}

.message-icons i,
span {
    margin: 20px 10px;
    margin-bottom: 30px;

}

.card .message-icons i {
    font-size: 40px;
}

.card .message-icons span {
    font-size: 25px;
}

.card p {
    margin-left: 15px;
    font-size: 22px;
    font-weight: 100;
    letter-spacing: 1.1px;
}

/* views section */
.views-icons {
    display: flex;
    justify-content: space-between;
}

.card1 {
    height: 140px;
    background-color: #2196F3;
    color: #fff;
}

.views-icons i,
span {
    margin: 20px 10px;
    margin-bottom: 30px;

}

.card1 .views-icons i {
    font-size: 40px;
}

.card1 .views-icons span {
    font-size: 25px;
}

.card1 p {
    margin-left: 15px;
    font-size: 22px;
    font-weight: 100;
    letter-spacing: 1.1px;
}

/* shares section */
.shere-icons {
    display: flex;
    justify-content: space-between;
}

.card2 {
    height: 140px;
    background-color: #009688;
    color: #fff;
}

.shere-icons i,
span {
    margin: 20px 10px;
    margin-bottom: 30px;

}

.card2 .shere-icons i {
    font-size: 40px;
}

.card2 .shere-icons span {
    font-size: 25px;
}

.card2 p {
    margin-left: 15px;
    font-size: 22px;
    font-weight: 100;
    letter-spacing: 1.1px;
}

/* user section */
.user-icons {
    display: flex;
    justify-content: space-between;
}

.card3 {
    height: 140px;
    background-color: #ff9800;
    color: #fff;
}

.user-icons i,
span {
    margin: 20px 10px;
    margin-bottom: 30px;

}

.card3 .user-icons i {
    font-size: 40px;
}

.card3 .user-icons span {
    font-size: 25px;
}

.card3 p {
    margin-left: 15px;
    font-size: 22px;
    font-weight: 100;
    letter-spacing: 1.1px;
}

/* regions section */
.regions-section {
    margin: 40px 5px;
    display: flex;
    gap: 20px;
}

.regions-section h2 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 300;

}

.feed-section h2 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 300;

}

.feed-user {
    display: flex;
    background-color: #fff;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
}

.feed-user h5 {
    font-size: 15px;
    font-weight: 300;


}

.feed-user p {
    font-size: 12px;
    font-style: italic;

}

.feed-user i {
    font-size: 15px;
    color: #2196f3;
}

.feed-grey {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;

}

.feed-grey h5 {
    font-size: 15px;
    font-weight: 300;


}

.feed-grey p {
    font-size: 12px;
    font-style: italic;

}

.feed-grey i {
    font-size: 15px;
    color: #f32821;

}

.feed-share {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    background-color: #fff;


}

.feed-share h5 {
    font-size: 15px;
    font-weight: 300;


}

.feed-share p {
    font-size: 12px;
    font-style: italic;

}

.feed-share i {
    font-size: 15px;
    color: #109409;

}

/* Genearal-section */

.rate h1 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;



}

.rate P {
    margin: 10px 0px;
    font-size: 15px;
    font-weight: 300;
}

.grey {

    width: 100%;
    padding: 0px 0px;
    background: #b3b3b3;

}

.grey .green {
    width: 25%;
    background-color: #4CAF50;
    padding: 8px 10px;
    text-align: center;
    color: white;

}

.green span {
    font-size: 14px;
    font-style: italic;
}

.grey .orenge {
    width: 50%;
    background-color: #ff9800;
    padding: 8px 10px;
    text-align: center;
    color: white;
}

.orenge span {
    font-size: 14px;
    font-style: italic;

}

.grey .red {
    width: 75%;
    background-color: #f44336;
    padding: 8px 10px;
    text-align: center;
    color: white;
}

.red span {
    font-size: 14px;
    font-style: italic;

}

/* Countries-section  */
.countries-section {
    margin: 20px 0px;
}

.countries-section h5 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-left: 15px;
}

.country-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: #fff;
    border: 1px solid #ddd;

}

.country-row h6 {
    font-size: 16px;
    font-weight: 300;
}

.country-row p {
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
}

.country-row:hover {
    background-color: lightgray;
}

.country-row1 {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    border: 1px solid #ddd;

}

.country-row1 h6 {
    font-size: 16px;
    font-weight: 300;

}

.country-row1 p {
    font-size: 15px;
    font-style: italic;
    font-weight: 300;

}

.country-row1:hover {
    background-color: lightgray;

}

.country-btn {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #7a7777;
    font-size: 16px;
    font-weight: 300;
    color: white;

}

.country-btn i {
    margin-left: 5px;
    margin-top: 5px;
}

.country-btn:hover {
    background-color: lightgray;
}

/* recent-section */
.recent-section {
    margin: 30px 0px;
}

.recent-section h5 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 300;
    margin-left: 15px;
}

.recent-row {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;

}

.recent-row img {
    border-radius: 20px;
}

.recent-section p {
    font-size: 21px;
    margin-left: 15px;

}

/* comments-section */
.comments-section {
    margin: 30px 10px;
}

.comments-section h5 {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 300;
    margin-left: 10px;
}

.comment-box {
    display: flex;
    gap: 70px;
    margin-bottom: 40px;
}

.comment-box img {
    width: 100px;
    border-radius: 50px;
}

.comment-content h5 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
}

.comment-content span {
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 20px;
}

.comment-content p {
    font-size: 15px;
    line-height: 1.6;
    font-weight: 300;

    margin-left: 10px;
}

/* demographic-section */
.demographic-section {
    display: flex;
    background-color: #616161;
    padding: 30px 30px;
    justify-content: space-between;
}

.demographic-contant h5 {
    font-size: 18px;
    font-weight: 300;
    color: white;
    margin: 10px 0px;
    border-bottom: 5px solid #4CAF50;
}

.demographic-contant p {
    margin-top: 15px;
    color: #fff;
    font-size: 15px;
    font-weight: 200;

}

.system-contant h5 {
    font-size: 18px;
    font-weight: 300;
    color: white;
    margin: 10px 0px;
    border-bottom: 5px solid #f44336;
}

.system-contant p {
    margin-top: 15px;
    color: #fff;
    font-size: 15px;
    font-weight: 200;

}


.target-contant h5 {
    font-size: 18px;
    font-weight: 300;
    color: white;
    margin: 10px 0px;
    border-bottom: 5px solid #ff9800;
}

.target-contant p {
    margin-top: 15px;
    color: #fff;
    font-size: 15px;
    font-weight: 200;

}

/* footer-section */
footer {
    padding: 40px 20px;
    background-color: #f1f1f1;
}

footer p {
    color: #3f3e3e;
    font-size: 14px;
}

footer h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

footer a {
    color: #3f3e3e;
    text-decoration: underline;
}