header{
    width: 100%;
    height: 100px;
    background-color: blue;
    position: fixed;
    top: 0px;
    z-index: 100;

}
.hero{
    width: 100%;
    height: 100vh;
    background-color:palegreen;
    

}

.about{
    width: 100%;
    height: 100vh;
    background-color: aqua;
}
.box{
    width: 150px;
    height: 150px;
    background-color: blueviolet;
    overflow: auto;

}